@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --text-gray: hsl(0, 0%, 70%);
      --text-black: hsl(0, 0%, 11%);
      --background: hsl(0, 5%, 96%);
      --background-black: hsl(0, 0%, 11%);
      --primary: hsl(158, 100%, 21%);
      --secondary: hsl(143, 73%, 96%);
      --accent: hsl(158, 54%, 41%);
    }
  }

body {
  background-color: var(--background);
}

* {
  scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  
}

